<!-- saved from url=(0014)about:internet --> 
<html> 
  <head> 
    <title>Chess Game</title> 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> 
    <script type="text/javascript" src="js/garbochess.js"></script>
	<script type="text/javascript" src="js/boardui.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
     <link rel="stylesheet" href="css/home.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
      <style type="text/css">
          #FenTextBox {
              width: 400px;
          }
          #TimePerMove {
              width: 50px;
          }
          .no-highlight {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
          }
          .sprite-bishop_black{ background-position: 0 0; width: 45px; height: 45px; } 
          .sprite-bishop_white{ background-position: 0 -95px; width: 45px; height: 45px; } 
          .sprite-king_black{ background-position: 0 -190px; width: 45px; height: 45px; } 
          .sprite-king_white{ background-position: 0 -285px; width: 45px; height: 45px; } 
          .sprite-knight_black{ background-position: 0 -380px; width: 45px; height: 45px; } 
          .sprite-knight_white{ background-position: 0 -475px; width: 45px; height: 45px; } 
          .sprite-pawn_black{ background-position: 0 -570px; width: 45px; height: 45px; } 
          .sprite-pawn_white{ background-position: 0 -665px; width: 45px; height: 45px; } 
          .sprite-queen_black{ background-position: 0 -760px; width: 45px; height: 45px; } 
          .sprite-queen_white{ background-position: 0 -855px; width: 45px; height: 45px; } 
          .sprite-rook_black{ background-position: 0 -950px; width: 45px; height: 45px; } 
          .sprite-rook_white{ background-position: 0 -1045px; width: 45px; height: 45px; }
          .timer{
          	   margin-left: 60px;
               margin-top: 100px;
          }
		  .chess_lost{
		      margin-left: 60px;
              margin-top: 50px;
		  }
      </style>
  </head> 
  <body> 
  	<nav class="navbar navbar-inverse"> 
  		<div class="container-fluid"> 
  			<div class="navbar-header"> 
  			    <a class="navbar-brand" href="#">
		         <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
		        </a>
  				<button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
  				<a href="#" class="navbar-brand">Chess</a> </div> 
  				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
	  				 <ul class="nav navbar-nav"> 
	  				 	<li class="active"><a href="#">Player Name</a></li> 
	  				 </ul> 
	  				 
	  				 <button type="button" class="btn btn-success navbar-btn navbar-right" data-toggle="modal" data-target="#myModal">Login</button>
  				 </div> 
  				 </div> 
  				 </nav>
  	
  	<div class="row">
  	  <div class="col-md-4">
  			<div class="timer">
  				<img src="img/timer.png" alt="Smiley face" height="100" width="200">
  			</div>
  			
  			<div class="chess_lost">
  				<p><b>Chess Pieces Lost</b></p>
  				<img src="img/chess_piece.jpg" alt="Smiley face" height="120" width="150">
  			</div>
  			<div class="chess_lost">
  				<a class="btn btn-warning" href="javascript:UIUndoMove()">Reset Last Move</a>
  			</div>
  	  </div>
  	
	  	<div class="col-md-8 chessboard">
	  	
	  	<div>
		        <div>
		            <a href="javascript:UINewGame()">New game</a>
		            <select onchange="javascript:UIChangeStartPlayer()">
		                <option value="white">White</option>
		                <option value="black">Black</option>
		            </select>
		            <div style="display:none">
		              Time per move: <input id="TimePerMove" value="500" onchange="javascript:UIChangeTimePerMove()" />ms
		            </div>
		        </div>
		        <div style="margin-top:5px;">
		        <div class="">
		        	<div >
  						<div id='board'></div> 
  	 				 </div>
  	 				 <div >
  						<span style="display:none" id='output'></span><br/> 
			            <textarea cols='50' rows='4' id='PgnTextBox'></textarea><br/>
  	 				 </div>
		        
		        </div>
		       
			        <div style="display:none">
			            <a id='AnalysisToggleLink' href="javascript:UIAnalyzeToggle()">Analysis: Off</a>
			        </div>
			        <div style="display:none">
			        FEN: <input id='FenTextBox' onchange="javascript:UIChangeFEN()"/>
			        </div>
			        </div>
			        <div style="display:none">
						<h2>About</h2>
						<p>It started as a feasibility project to see how Javascript could do in Chess, then languished until Chrome came along.</p>
						<a href="..\projects.html">Back to Projects</a>
					</div>
     </div> 
	  	
	  	</div>
  	
  	</div>
  	
  	
  	
  	
  	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-lg">
		  <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon1"></span>
		  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
		</div>
		
		 <div class="input-group input-group-lg">
		  <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon1"></span>
		  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
		</div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Sign In</button>
      </div>
    </div>
  </div>
</div>
  
    
  </body> 
</html> 
