<!-- saved from url=(0014)about:internet --> 
<html ng-app="chess"> 
  <head> 
    <title>Chess Game</title> 
   
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	 <link rel="stylesheet" href="css/chessboard.css">
	 <link rel="stylesheet" href="css/home.css">
      <style type="text/css">
          #FenTextBox {
              width: 400px;
          }
          #TimePerMove {
              width: 50px;
          }
          .no-highlight {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
          }
          .sprite-bishop_black{ background-position: 0 0; width: 45px; height: 45px; } 
          .sprite-bishop_white{ background-position: 0 -95px; width: 45px; height: 45px; } 
          .sprite-king_black{ background-position: 0 -190px; width: 45px; height: 45px; } 
          .sprite-king_white{ background-position: 0 -285px; width: 45px; height: 45px; } 
          .sprite-knight_black{ background-position: 0 -380px; width: 45px; height: 45px; } 
          .sprite-knight_white{ background-position: 0 -475px; width: 45px; height: 45px; } 
          .sprite-pawn_black{ background-position: 0 -570px; width: 45px; height: 45px; } 
          .sprite-pawn_white{ background-position: 0 -665px; width: 45px; height: 45px; } 
          .sprite-queen_black{ background-position: 0 -760px; width: 45px; height: 45px; } 
          .sprite-queen_white{ background-position: 0 -855px; width: 45px; height: 45px; } 
          .sprite-rook_black{ background-position: 0 -950px; width: 45px; height: 45px; } 
          .sprite-rook_white{ background-position: 0 -1045px; width: 45px; height: 45px; }
          .timer{
          	   margin-left: 60px;
               margin-top: 100px;
          }
		  .chess_lost{
		      margin-left: 60px;
              margin-top: 50px;
		  }
      </style>
  </head> 
  <body ng-controller="playController"> 
  	<nav class="navbar navbar-inverse"> 
  		<div class="container-fluid"> 
  			<div class="navbar-header"> 
  			    <a class="navbar-brand" href="#">
		         <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
		        </a>
  				<button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
  				<a href="#" class="navbar-brand">Chess</a> </div> 
  				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
	  				 <ul class="nav navbar-nav"> 
	  				 	<li class="active"><a href="#">Player Name: {{playername}}</a></li> 
	  				 </ul> 
	  				 
	  				 <button type="button" class="btn btn-success navbar-btn navbar-right" data-toggle="modal" data-target="#myModal">Login</button>
  				 </div> 
  				 </div> 
  				 </nav>
  	<div class="row relative">
  	<div class="overlay" ng-show="showOverlay"></div>
  	 <div class="row">
  	  <div class="col-md-4">
  			<div class="timer well">
  				<div class="col-sm-6">
  				

				</div>
				<div class="col-sm-6">
				
				
				</div>
  			</div>
  			
  			<div class="chess_lost well">
  				<p><b>Chess Pieces Captured</b></p>
  				<div class="row">
  					<div class="col-sm-6">
  						<h5>White</h5>
  						<div class="captured_pieces">
  							<span ng-repeat="piece in capturedPieces.white track by $index" ng-class="piecesIcon(piece, 'white')"></span>
  						</div>
  					</div>
  					<div class="col-md-6">
  						<h5>Black</h5>
  						<div class="captured_pieces">
  							<span ng-repeat="piece in capturedPieces.black track by $index" ng-class="piecesIcon(piece, 'black')"></span>		
  						</div>
  					</div>
  					
  					
  				</div>
  			</div>
  			<div class="chess_lost">
  				<a class="btn btn-warning" href="javascript:UIUndoMove()">Reset Last Move</a>
  			</div>
  	  </div>
  	
	  	<div class="col-md-8 chessboard">
	  	<!-- Player : {{playername}}
	  	{{userData}} -->
	  	 <div id="chatWindow">
    	
    	</div>
	  	<div>
			<div id="board" style="width: 600px;"></div>
			<p>Status: <span id="status"></span></p>
			<p>FEN: <span id="fen"></span></p>
			<p>PGN: <span id="pgn"></span></p>
			<!-- <input id="startPositionBtn" value="Start Position" type="button"> -->
		</div> 
	  	
	  	</div>
  	
  	</div>
  	</div>
  	
  	
  	
  	
  	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Login</h4>
	      </div>
	      <div class="modal-body">
	        <div class="input-group input-group-lg">
			  <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon1"></span>
			  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
			</div>
			
			 <div class="input-group input-group-lg">
			  <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon1"></span>
			  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
			</div>
			
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Sign In</button>
	      </div>
	    </div>
	  </div>
	</div>
  
  
  
  	<div class="modal fade" id="playgame" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Play</h4>
	      </div>
	      <div class="modal-body">
	      
	      	<div ng-if="!waiting">
		      	<div class="input-group input-group-lg">
				  <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon1"></span>
				  <input type="text" class="form-control" placeholder="Player Name" id="playername"/>
				  {{playername}}
				</div>
				
				<br>
		        <div class="input-group input-group-lg">
		          <div class="input-group-addon">Play Against</div>
				  <select  class="form-control" id="against">
				  	<option>Computer</option>
				  	<option>Other Players</option>
				  </select>
				</div>
			</div>
			
			<div ng-if="waiting">
				<h3 class="text-center">Waiting For Players to Join</h3>
				<h3 class="text-center">{{waitTimeDisplay}}</h3>
			</div>
			
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" id="startGame" ng-click="startGame()">Play</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<script src="js/jquery-1.10.1.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="js/cinnamon_engine.js"></script>
	<script src="js/chess.js"></script>
	<script src="js/json3.min.js"></script>
	
	<script src="js/chessboard.js"></script>
	<script src="js/cinnamon.js"></script>
   
	 
	
     
  </body> 
</html> 
